:root {
    --bs-primary: #dd8c13;
  }

  .card-container {
position: relative;
background-color: var(--bs-primary);
border-radius: 10px;
padding: 20px;
color: white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease-in-out;
}

  .btn-rounded {

      border-radius: 10px;
      padding: 20px;
      position: absolute;right: 12%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;

  }
  .btn-rounded:hover {

    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);

  }

  .btn-diseases {
    position: static;
    transform: scale(0.85);
    
  }


  .card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .about{
    background: center url('https://i.postimg.cc/B6Wk8GvJ/image-removebg-preview.png') no-repeat;   
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;


  }
  .about:hover {
    background: center url('https://i.postimg.cc/mD2MyPkj/information-unscreen.gif') no-repeat;  
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    transform: scale(0.9);
  }

  .btn-choose-symptom {
    padding: 10px;
    margin-bottom: 10px;

  }

  .btn-choose-symptom:active {

    background-color: royalblue ;



  }

  
  h1 {
    font-family: "Cairo";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    letter-spacing: 1px;
    line-height:2;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
  }