<!-- about.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Diagnoz</h1>
    <p class="lead">At Diagnoz, we believe that everyone should have access to fast, accurate, and anonymous healthcare assessments. Our database uses scientific literature and statistical data gathered from thousands of patient cases to provide you with the most likely diagnoses and their percentage chance. We are committed to using the latest data science techniques to revolutionize the healthcare industry and improve the quality of life for people around the world.</p>
    <hr class="my-4">
    <p>Diagnoz: Because nobody likes waiting in line at the doctor's office.</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('symptoms')}}" role="button">Start Your Checkup</a>
  </div>
</div>
{% endblock %}