{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <div class="btn-group-horizontal" style="margin-top: 5%;">
          <!-- all letters button -->
          <a class="btn btn-outline-primary mb-2" href="{{url_for('choose',letter='all')}}">All</a>    
          {% for letter in letters %}
          <a class="btn btn-outline-primary mb-2 " href="{{url_for('choose',letter=letter)}}">{{ letter }}</a>
          {% endfor %}        
        </div>
      </div>
    </div>
{% if sys_list|length < 27 %}
    <p class="display-4 lead">Showing Diseases For Letter : <span style="font-family: 'Dancing Script',serif; font-weight:bold;">{{ letter_chosen }}</span></p>
{% endif %}
<hr class="my-4">
   <!-- Symptomps List -->
   <ul>
    {% for symptom in chosen_list %}
      <p>{{symptom}}</p>
    {% endfor %}
   </ul>
   <a role="button" type="button btn"  class="btn btn-secondary " id = "btn-delete" href="{{url_for('add_symptom',symptom = 'nothing' ,status = 'delete_all')}}">Delete All</a>
   <a role="button" type="button btn"  class="btn btn-secondary " id = "btn-done" href="{{url_for('call_diseases')}}">Done</a>
   {% for i in sys_list %}
      <a role="button" type="button btn"  class="btn btn-primary btn-choose" href="{{url_for('add_symptom',symptom = i ,status = 'add')}}">{{i}}</a>
    {% endfor %} 
    
   
{% endblock %}