<!-- contact.html -->
{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Contact Me</h1>
    <p class="lead">Meet Yassin Wael, the brilliant mind behind Diagnoz, who's revolutionizing healthcare one website at a time. When he's not busy coding and creating digital masterpieces, you can find him strategizing his next move on the chessboard. As a student in school, Yassin has already proven that age is just a number when it comes to making a difference in the world. With a passion for both chess and web development, he's a force to be reckoned with, seamlessly blending logic and creativity to bring innovative solutions to life. So, buckle up and get ready to witness the future of healthcare, as Yassin Wael takes you on a journey through the digital realm of Diagnoz.</p>
    <hr class="my-4">
    <p>Email : real.life.jarvis.ironman@gmail.com</p>
  </div>
</div>
{% endblock %}