{% extends "layout.html" %}


{% block content %}

<div class="container" id="download-container">
    <div class="jumbotron">
    <h1 class="display-4">Download Diagnoz</h1>
    <p class="lead" id="downloadText">Download Diagnoz and get smart health advice from doctors. Diagnoz can diagnose your symptoms and provide you with treatment options. You can also chat with real doctors 24/7. Diagnoz is easy, secure, and reliable. Download it today and take charge of your health.</p>
    <hr class="my-4">

    <div class="install-container">

        <button type="button" class=" btn-rounded" id="installButton" name="install">
          <img src="static/download-app.png" alt="Download App">
          Install Diagnoz
        </button>

      </div>

      
    </div>
    </div>
{% endblock %}