<!-- symptoms.html -->
{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <form action="#" method="post">
      <div class="form-group">
        <label for="symptoms">Symptoms</label>
        <input type="text" class="form-control" id="symptoms" name="sy" placeholder="Please Type Your Symptoms (seperated by comas)">
      </div>
      <button type="submit" class="btn btn-primary btn-rounded btn-diseases" >Submit</button>
      <a class = "btn btn-secondary btn-rounded btn-diseases" href="{{url_for('symptoms_set')}}" role="button">List Of Symptoms</a>
    </form>
  </div>
{% endblock %}